{% macro resource_property(name) -%}
    if (array_key_exists('{{ name }}', $this->expansions)) {

        ${{ name }}Model = \Loris\Discovery::find(
            $this->{{ name }}->_uri
        );
        $this->{{ name }} = new ${{ name }}Model->class(
            $this->{{ name }}->id()
        );

        if (is_array($this->expansions['{{ name }}'])) {
            $this->{{ name }}->expand($this->expansions['{{ name }}']);
        }
    }
{%- endmacro %}

{% macro array_property_resources(name) -%}
    if (array_key_exists('{{ name }}', $this->expansions) &&
        count($this->{{ name }}) > 0) {

        ${{ name }}Model = \Loris\Discovery::find(
            $this->{{ name }}[0]->_uri
        );
        $expand{{ name }} = is_array($this->expansions['{{ name }}']);
        for ($i = 0; $i < count($this->{{ name }}); $i++) {
            $this->{{ name }}[$i] = new ${{ name }}Model->class(
                $this->{{ name }}[$i]->id()
            );

            if ($expand{{ name }}) {
                $this->{{ name }}[$i]->expand(
                    $this->expansions['{{ name }}']
                );
            }
        }
    }
{%- endmacro %}

{% macro array_property_object_resource(arr, name) -%}
    if (array_key_exists('{{ arr }}', $this->expansions) &&
        array_key_exists('{{ name }}', $this->expansions['{{ arr }}']) &&
        count($this->{{ arr }}) > 0) {

        ${{ name }}Model = \Loris\Discovery::find(
            $this->{{ arr }}[0]->{{ name }}->_uri
        );
        $expand{{ name }} = is_array($this->expansions['{{ arr }}']['{{ name }}']);
        for ($i = 0; $i < count($this->{{ arr }}); $i++) {
            $this->{{ arr }}[$i]->  = new ${{ name }}Model->class(
                $this->{{ arr }}[$i]->{{ name }}->id()
            );

            if ($expand{{ name }}) {
                $this->{{ arr }}[$i]->{{ name }}->expand(
                    $this->expansions['{{ arr }}']['{{ name }}']
                );
            }
        }
    }
{%- endmacro %}
