<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="css/main.css" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>

    <!-- Top search bar -->
    <div class="row">
        <div class="s12 navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required="required" placeholder="Search the docs" />
                            <label for="search"><i class="material-icons">search</i></label>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div> <!-- .row -->

    <!-- Hamburger for mobile -->
    <div class="container">
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
            <i class="mdi-navigation-menu"></i>
        </a>
    </div>

    <!-- Main left hand navigation -->
    <ul id="nav-mobile" class="side-nav fixed grey lighten-4">
        <li class="logo">
            <img class="brand-logo left" src="img/loris.svg" />
            <span class="title">Loris</span> <span class="version">(v1)</span>
        </li>
        <li class="{{ 'active' if active_page == 'introduction' }}">
            <a href="index.html" class="waves-effect waves-grey">Introduction <i class="material-icons right">info_outline</i></a>
        </li>

        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">

                <!-- API Routes -->
                <li><a class="collapsible-header waves-effect waves-grey {{ 'active' if active_section == 'endpoints' }}">API Endpoints <i class="material-icons right">explore</i></a>
                    <div class="collapsible-body" style="">
                        <ul>
                            {% for id, properties in api.endpoints|dictsort %}
                            <li class="{{ 'active' if active_page == id }}">
                                <a href="{{ id|lower }}.html" class="waves-effect waves-grey">{{ properties.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>

                <!-- API Resource definitions -->
                <!--li><a class="collapsible-header waves-effect waves-grey">Resources <i class="material-icons right">layers</i></a>
                    <div class="collapsible-body" style="">
                        <ul>
                            <li><a href="resources.html" class="waves-effect waves-grey">Group by types?</a></li>
                        </ul>
                    </div>
                </li-->
            </ul> <!-- .collapsible -->
        </li>

        <li class="{{ 'active' if active_page == 'resources' }}">
            <a href="resources.html" class="waves-effect waves-grey">Resources <i class="material-icons right">layers</i></a>
        </li>

        <li class="{{ 'active' if active_page == 'examples' }}">
            <a href="examples.html" class="waves-effect waves-grey">Examples <i class="material-icons right">code</i></a>
        </li>
    </ul>

</header>
