{% set active_section = 'resources' %}
{% set active_page = 'resources-' + endpoint_id %}
{% include 'templates/header.html' %}
<main>
    <div class="container">
        <div class="row">

            <!-- Content column -->
            <div class="col s12 m9 l11">

                <h1>{{ endpoint_id }} Resources</h1>

                <div class="switch">
                    <label>
                        Details
                        <input type="checkbox" id="toggle-json">
                        <span class="lever"></span>
                        JSON
                    </label>
                </div>

                {% for id, properties in resources|dictsort %}

                    <h3>{{ id }}</h3>
                    <div id="{{ id|replace('.', '-') }}" class="section scrollspy">
                        {% include 'dist/fragments/' + id.lower() + '.html' %}
                    </div>

                {% endfor %}

            </div> <!-- .col content -->

            <!-- Right hand navigation -->
            <div class="col hide-on-small-only m3 l1">
                <div class="pinned">
                    <ul class="section table-of-contents">
                        <li>Resources</li>
                        {% for id, resource in resources|dictsort %}
                        <li><a href="#{{ id|replace('.', '-') }}">{{ id }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div> <!-- .col -->

        </div> <!-- .row -->
    </div> <!-- .container -->
</main>

{% include 'templates/footer.html' %}
