<?php
namespace Loris\Resource\Base;

use \Loris\Utility;

class {{ id }} extends Meta
{
    const URI = '{{ uri }}';

    private $expansions = null;

    /**
     * Track the properties that are used as our resource's 
     * distinct identifier (one or composite). Each match
     * within URI must exist within this list. 
     */
    private $_id = array(
        '{{ id_keys|join('\', \'') }}'
    );

    // Properties
{% for name, property in properties|dictsort %}

    {% if property.description %}
    /** 
     * {{ property.description }}
     * type: {{ property.format if property.format else property.type }}
     */
    {% else %}
    /** type: {{ property.type }} */
    {% endif %}
    {% if property.type == 'array' %}
    public ${{ name }} = array();
    {% if property['items'].type == 'resource' or
        property['items'].type == 'collection' or 
        property['items'].type == 'object' %}

    /**
     * Maintains a template of the inner {{ property['items'].type }} of 
     * $this->{{ name }} for copying to new array items.
     */
    private ${{ name }}Template = null;  
    {% endif %}
    {% else %}
    public ${{ name }} = null;
    {% endif %}
{% endfor %}

    /**
     * @param string $id
     */
    function __construct($id)
    {
        parent::__construct($id, self::URI);

        // Create Meta(Collection)s for relationships
        // Note: The inclusion of a URI is required here as we can possibly
        // never replace Meta(Collection) with an actual class (if non-expanded)
        // but we still need to know the resource URI. The problem then becomes,
        // where do we get this URI? We can't guarantee to have access to Resource::URI
        // because resources may not exist on the same instance as this caller. 
        {% import 'templates/resource_constructor_macros.jinja' as macros %}
        {% for name, property in properties|dictsort -%}
            {% if property.type == 'resource' -%}
                {{ macros.resource_property(name, property.uri) }}
            {% elif property.type == 'collection' -%}
                {{ macros.collection_property(name, property.uri) }}
            {% elif property.type == 'object' %}
                {{- 
                    macros.object_property(name) 
                }}
                {% for name2, property2 in property.properties|dictsort %}
                    {% if property2.type == 'resource' -%}
                        {{- 
                            macros.object_property_resource(name, name2, property2.uri) 
                        }}
                    {% elif property2.type == 'collection' -%}
                        {{- 
                            macros.object_property_collection(name, name2, property2.uri) 
                        }}
                    {% endif %}
                {% endfor %}
            {% elif property.type == 'array' %}
                {% if property['items'].type == 'resource' %}
                    {{- 
                        macros.array_property_resources(name, property['items'].uri) 
                    }}
                {% elif property['items'].type == 'collection' %}
                    {{- 
                        macros.array_property_collections(name, property['items'].uri) 
                    }}
                {% elif property['items'].type == 'object' %}
                    {{- 
                        macros.array_property_object(name)
                    }}
                    {% for name2, property2 in property['items'].properties|dictsort %}
                        {% if property2.type == 'resource' -%}
                            {{- 
                                macros.array_property_object_resource(name, name2, property2.uri) 
                            }}
                        {% elif property2.type == 'collection' -%}
                            {{- 
                                macros.array_property_object_collection(name, name2, property2.uri) 
                            }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {%- endfor %}
    }

    /**
     *
     * @param array({{ id }}) ${{ id|camelcase }}s
     */
    public static function query(array ${{ id|camelcase }}s)
    {
        throw new \Exception(
            'Base\\{{ id }}::query() cannot be called directly.'
        );
    }

    public static function postQuery(array ${{ id_var_plural }}, array $results)
    {
        foreach (${{ id_var_plural }} as ${{ id_var }}) {
            foreach ($results as $result) {
                if ({% for id in id_keys -%}
                        $result->{{ id }} === ${{ id_var }}->{{ id }} 
                    {{- ' &&\n                    ' if not loop.last }}
                {%- endfor %}) {
                    
                    ${{ id_var }}->fromResults($result);
                    break;
                }
            }
        }

        // Query for all expanded relationships
        {% import 'templates/resource_postQuery_macros.jinja' as macros %}
        {% for name, property in properties|dictsort -%}
            {% if property.type == 'resource' -%}
                {{ macros.resource_property(name) }}
            {% elif property.type == 'collection' -%}
                {{ macros.collection_property(name) }}
            {% elif property.type == 'object' %}
                {% for name2, property2 in property.properties|dictsort %}
                    {% if property2.type == 'resource' -%}
                        {{- 
                            macros.object_property_resource(name, name2) 
                        }}
                    {% elif property2.type == 'collection' -%}
                        {{- 
                            macros.object_property_collection(name, name2) 
                        }}
                    {% endif %}
                {% endfor %}
            {% elif property.type == 'array' %}
                {% if property['items'].type == 'resource' %}
                    {{- 
                        macros.array_property_resources(name) 
                    }}
                {% elif property['items'].type == 'collection' %}
                    {{- 
                        macros.array_property_collections(name) 
                    }}
                {% elif property['items'].type == 'object' %}
                    {% for name2, property2 in property['items'].properties|dictsort %}
                        {% if property2.type == 'resource' -%}
                            {{- 
                                macros.array_property_object_resource(name, name2) 
                            }}
                        {% elif property2.type == 'collection' -%}
                            {{- 
                                macros.array_property_object_collection(name, name2) 
                            }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {%- endfor %}
    }

    /**
     *
     * @param \stdClass $results
     */
    public function fromResults(\stdClass $results)
    {
        {% import 'templates/resource_fromResults_macros.jinja' as macros %}
        {% for name, property in properties|dictsort -%}
            {% if property.type == 'string' -%}
                {{ macros.string_property(name, property.format) }}
            {% elif property.type == 'number' -%}
                {{ macros.number_property(name, property.format) }}
            {% elif property.type == 'boolean' -%}
                {{ macros.boolean_property(name) }}
            {% elif property.type == 'resource' -%}
                {{ macros.resource_property(name, property.ids) }}
            {% elif property.type == 'collection' -%}
                {{ macros.collection_property(name, property.ids) }}
            {% elif property.type == 'object' %}
                {% for name2, property2 in property.properties|dictsort %}
                    {% if property2.type == 'string' -%}
                        {{ macros.object_property_string(name, name2, property2.format) }}
                    {% elif property2.type == 'number' -%}
                        {{ macros.object_property_number(name, name2, property2.format) }}
                    {% elif property2.type == 'boolean' -%}
                        {{ macros.object_property_boolean(name, name2) }}
                    {% elif property2.type == 'resource' -%}
                        {{- 
                            macros.object_property_resource(name, name2, property2.ids) 
                        }}
                    {% elif property2.type == 'collection' -%}
                        {{- 
                            macros.object_property_collection(name, name2, property2.ids) 
                        }}
                    {% endif %}
                {% endfor %}
            {% elif property.type == 'array' %}
                {% if property['items'].type == 'string' -%}
                    {{ macros.array_property_strings(name, property['items'].format) }}
                {% elif property['items'].type == 'number' -%}
                    {{ macros.array_property_numbers(name, property['items'].format) }}
                {% elif property['items'].type == 'boolean' -%}
                    {{ macros.array_property_booleans(name) }}
                {% elif property['items'].type == 'resource' %}
                    {{- 
                        macros.array_property_resources(
                            name, 
                            property['items'].resource, 
                            property['items'].ids
                        ) 
                    }}
                {% elif property['items'].type == 'collection' %}
                    {{- 
                        macros.array_property_collections(
                            name, 
                            property['items'].collection, 
                            property['items'].ids
                        ) 
                    }}
                {% elif property['items'].type == 'object' %}
        ${{ name }}Count = count($results->{{ name }});
        for ($i = 0; $i < ${{ name }}Count; $i++) {
            {{ macros.array_property_object(name) }}

                    {% for name2, property2 in property['items'].properties|dictsort %}
                        {% if property2.type == 'string' -%}
                            {{ macros.array_property_object_string(name, name2, property2.format) }}
                        {% elif property2.type == 'number' -%}
                            {{ macros.array_property_object_number(name, name2, property2.format) }}
                        {% elif property2.type == 'boolean' -%}
                            {{ macros.array_property_object_boolean(name, name2) }}
                        {% elif property2.type == 'resource' -%}
                            {{- 
                                macros.array_property_object_resource(name, name2, property2.ids) 
                            }}
                        {% elif property2.type == 'collection' -%}
                            {{- 
                                macros.array_property_object_collection(name, name2, property2.ids) 
                            }}
                        {% endif %}
                    {% endfor %}
        }

                {% endif %}
            {% endif %}
        {%- endfor %}
        // Perform expansions after hydration, in case we hydrated any
        // additional resource references in Arrays or Objects
        $this->doExpansions();
    }

    /**
     * 
     * @param array $resources
     */
    public function expand(array $resources)
    {

        $this->expansions = $resources;
    }

    /**
     * Perform actual expansions after hydration.
     *
     * This is added as a separate step in case we dynamically add 
     * additional resource references while hydrating from the data store
     * (e.g. resources stored in Arrays or Objects)
     */
    private function doExpansions()
    {
        if ($this->expansions === null) {
            return;
        }

        {% import 'templates/resource_doExpansions_macros.jinja' as macros %}
        {% for name, property in properties|dictsort -%}
            {% if property.type == 'resource' -%}
                {{ macros.resource_property(name) }}
            {% elif property.type == 'collection' -%}
                {{ macros.collection_property(name) }}
            {% elif property.type == 'object' %}
                {% for name2, property2 in property.properties|dictsort %}
                    {% if property2.type == 'resource' -%}
                        {{- 
                            macros.object_property_resource(name, name2) 
                        }}
                    {% elif property2.type == 'collection' -%}
                        {{- 
                            macros.object_property_collection(name, name2) 
                        }}
                    {% endif %}
                {% endfor %}
            {% elif property.type == 'array' %}
                {% if property['items'].type == 'resource' %}
                    {{- 
                        macros.array_property_resources(name) 
                    }}
                {% elif property['items'].type == 'collection' %}
                    {{- 
                        macros.array_property_collections(name) 
                    }}
                {% elif property['items'].type == 'object' %}
                    {% for name2, property2 in property['items'].properties|dictsort %}
                        {% if property2.type == 'resource' -%}
                            {{- 
                                macros.array_property_object_resource(name, name2) 
                            }}
                        {% elif property2.type == 'collection' -%}
                            {{- 
                                macros.array_property_object_collection(name, name2) 
                            }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {%- endfor %}
    }

    /**
     * Serializes this resource and all expanded resource properties.
     * 
     * This method generates a simple object that can be passed to 
     * `json_encode` for final encoding. Complex type attributes (such
     * as DateTime) are automatically converted to a standard presentation.
     * 
     * @return \stdClass
     */
    public function serialize()
    {
        // Get serialized data from Meta
        $serialized = parent::serialize();

        {% import 'templates/resource_serialize_macros.jinja' as macros %}
        {% for name, property in properties|dictsort -%}
            {% if property.type == 'string' or 
                property.type == 'number' or 
                property.type == 'boolean' -%}
                {{ macros.primitive_property(name, property.format) }}
            {% elif property.type == 'resource' -%}
                {{ macros.resource_property(name) }}
            {% elif property.type == 'collection' -%}
                {{ macros.collection_property(name) }}
            {% elif property.type == 'object' %}
                {{-
                    macros.object_property(name)
                -}}
                {% for name2, property2 in property.properties|dictsort %}
                    {% if property2.type == 'string' or 
                        property2.type == 'number' or 
                        property2.type == 'boolean' -%}
                        {{ macros.object_property_primitive(name, name2, property2.format) -}}
                    {% elif property2.type == 'resource' -%}
                        {{- 
                            macros.object_property_resource(name, name2) 
                        -}}
                    {% elif property2.type == 'collection' -%}
                        {{- 
                            macros.object_property_collection(name, name2) 
                        -}}
                    {% endif %}
                {% endfor %}

            {% elif property.type == 'array' %}
                {% if property['items'].type == 'string' or 
                    property['items'].type == 'number' or 
                    property['items'].type == 'boolean' -%}
                    {{ macros.array_property_primitives(name, property['items'].format) }}
                {% elif property['items'].type == 'resource' %}
                    {{- 
                        macros.array_property_resources(name) 
                    }}
                {% elif property['items'].type == 'collection' %}
                    {{- 
                        macros.array_property_collections(name) 
                    }}
                {% elif property['items'].type == 'object' %}
        $serialized->{{ name }} = array();
        ${{ name }}Count = count($this->{{ name }});
        for ($i = 0; $i < ${{ name }}Count; $i++) {
            {{ macros.array_property_object(name) }}
                    {% for name2, property2 in property['items'].properties|dictsort %}
                        {% if property2.type == 'string' or 
                            property2.type == 'number' or 
                            property2.type == 'boolean' -%}
                            {{ macros.array_property_object_primitive(name, name2, property2.format) -}}
                        {% elif property2.type == 'resource' -%}
                            {{- 
                                macros.array_property_object_resource(name, name2) 
                            -}}
                        {% elif property2.type == 'collection' -%}
                            {{- 
                                macros.array_property_object_collection(name, name2) 
                            -}}
                        {% endif %}
                    {% endfor %}
        }

                {% endif %}
            {% endif %}
        {%- endfor %}
        return $serialized;
    }
}

