
<?

{% macro query_resource_property(resource_id, name, nesting_list = ['this']) %}
    {% set resource_list = resource_id|camelcase|plural %}
    {% set resource_item = resource_id|camelcase %}

    {% set prefix = nesting_list|join('_') %}
    {% if nesting_list %} 
        {% set property_path = resource_item + '->' + nesting_list|join('->') %}
    {% else %}
        {% set property_path = resource_item %}
    {% endif %}

    {% set items_list = prefix + name|plural %}

    ${{ items_list }} = array();
    ${{ items_list }}Model = \Loris\Discovery::find('{{ property.resource.uri }}');
    foreach (${{ resource_list }} as ${{ resource_item }}) {
        if (${{ property_path }}->{{ name }} instanceof ${{ items_list }}Model->class) {
            ${{ items_list }}[] = ${{ property_path }}->{{ name }};
        }
    }
    if (!empty(${{ items_list }})) {
        call_user_func(
            array(${{ items_list }}Model->class, 'query'),
            ${{ items_list }}
        );
    }

{% endmacro %}

{% macro setup_and_discover(list_var, resource_uri) %}
    ${{ list_var }} = array();
    ${{ list_var }}Model = \Loris\Discovery::find('{{ resource_uri }}');
{% endmacro %}

{% macro execute_query(list_var) %}
    if (!empty(${{ list_var }})) {
        call_user_func(
            array(${{ list_var }}Model->class, 'query'),
            ${{ list_var }}
        );
    }
{% endmacro %}

{% macro query_object_properties(resource_id, properties, nesting_list = [], is_array = False) %}
    {% set resource_list = resource_id|camelcase|plural %}
    {% set resource_item = resource_id|camelcase %}

    {% set prefix = nesting_list|join('_') %}
    {% if nesting_list %} 
        {% set property_path = resource_item + '->' + nesting_list|join('->') %}
    {% else %}
        {% set property_path = resource_item %}
    {% endif %}

    {% for name, property in properties.iteritems() %}
        {% if property.type == 'resource' or property.type == 'collection' %}

            {% set list_var = prefix + name|plural %}

            {{ setup_and_discover(list_var) }}

            foreach (${{ resource_list }} as ${{ resource_item }}) {
                {% set path = property_path + '->' + name %}

                {% if is_array %}
                    {% set path = 'item->' + name %}

                    foreach (${{ path }} as $item) {
                        if ($item instanceof ${{ list_var }}Model->class) {
                            ${{ list_var }}[] = $item;
                        }
                    }
                {% else %}
                    if (${{ path }} instanceof ${{ list_var }}Model->class) {
                        ${{ list_var }}[] = ${{ path }};
                    }
                {% endif %}
            }

            {{ execute_query(list_var) }}

        {% elif property.type == 'object' %}

            {{ query_object_properties(resource_id, property.properties, [name]) }}

        {% elif property.type == 'array' %}

            {% if property.items.type == 'resource' or property.items.type == 'collection' %}
                
                TODO: Array of resources not implemented! Woo!

            {% elif property.items.type == 'object' %}

                {{ query_object_properties(resource_id, property.items.properties, [name], True) }}

            {% endif %}
        {% endif %}
    {% endfor %}

{% endmacro %}



