
{% macro resource_property(name) %}
        ${{ name }}s = array();
        ${{ name }}Model = \Loris\Discovery::find(
            ${{ id_var_plural }}[0]->{{ object }}->{{ name }}->_uri
        );
        foreach (${{ id_var_plural }} as ${{ id_var }}) {
            if (${{ id_var }}->{{ name }} instanceof ${{ name }}Model->class) {
                ${{ name }}s[] = ${{ id_var }}->{{ name }};
            }
        }
        if (!empty(${{ name }}s)) {
            call_user_func(
                array(${{ name }}Model->class, 'query'),
                ${{ name }}s
            );
        }
{% endmacro %}

{% macro collection_property(name) %}
{{ resource_property(name) -}}
{% endmacro %}

{% macro object_property_resource(object, name) %}
        ${{ name }}s = array();
        ${{ name }}Model = \Loris\Discovery::find(
            ${{ id_var_plural }}[0]->{{ object }}->{{ name }}->_uri
        );
        foreach (${{ id_var_plural }} as ${{ id_var }}) {
            if (${{ id_var }}->{{ object }}->{{ name }} instanceof ${{ name }}Model->class) {
                ${{ name }}s[] = ${{ id_var }}->{{ object }}->{{ name }};
            }
        }
        if (!empty(${{ name }}s)) {
            call_user_func(
                array(${{ name }}Model->class, 'query'),
                ${{ name }}s
            );
        }
{% endmacro %}

{% macro object_property_collection(object, name) %}
{{ object_property_resource(object, name) -}}
{% endmacro %}

{% macro array_property_resources(name) %}
        ${{ name }}s = array();
        ${{ name }}Model = \Loris\Discovery::find(
            ${{ id_var_plural }}[0]->{{ name }}Pattern->_uri
        );
        foreach (${{ id_var_plural }} as ${{ id_var }}) {
            foreach (${{ id_var }}->{{ name }} as $item) {
                if ($item instanceof ${{ name }}Model->class) {
                    ${{ name }}s[] = $item;
                }
            }
        }
        if (!empty(${{ name }}s)) {
            call_user_func(
                array(${{ name }}Model->class, 'query'),
                ${{ name }}s
            );
        }
{% endmacro %}

{% macro array_property_collections(name) %}
{{ array_property_resources(name) -}}
{% endmacro %}

{% macro array_property_object_resource(array, name) %}
        ${{ name }}s = array();
        ${{ name }}Model = \Loris\Discovery::find(
            ${{ id_var_plural }}[0]->{{ array }}Pattern->{{ name }}->_uri
        );
        foreach (${{ id_var_plural }} as ${{ id_var }}) {
            foreach (${{ id_var }}->{{ array }} as $item) {
                if ($item->{{ name }} instanceof ${{ name }}Model->class) {
                    ${{ name }}s[] = $item->{{ name }};
                }
            }
        }
        if (!empty(${{ name }}s)) {
            call_user_func(
                array(${{ name }}Model->class, 'query'),
                ${{ name }}s
            );
        }
{% endmacro %}

{% macro array_property_object_collection(array, name) %}
{{ array_property_object_resource(array, name) -}}
{% endmacro %}
