
{% macro primitive_property(name, format) %}
    {% if format == 'date' %}
        if ($this->{{ name }} !== null) {
            $serialized->{{ name }} = $this->{{ name }}->format('{{ json_date_format }}');
        } else {
            $serialized->{{ name }} = null;
        }
    {% else %}
        $serialized->{{ name }} = $this->{{ name }};
    {% endif %}
{% endmacro %}

{% macro resource_property(name) %}
        $serialized->{{ name }} = $this->{{ name }}->serialize();
{% endmacro %}

{% macro collection_property(name) %}
        $serialized->{{ name }} = $this->{{ name }}->serialize();
{% endmacro %}

{% macro object_property(name) %}
        $serialized->{{ name }} = new \stdClass;
{% endmacro %}

{% macro object_property_primitive(object, name, format) %}
    {% if format == 'date' %}
        if ($this->{{ object }}->{{ name }} !== null) {
            $serialized->{{ object }}->{{ name }} = $this->{{ object }}->{{ name }}->format('{{ json_date_format }}');
        } else {
            $serialized->{{ object }}->{{ name }} = null;
        }
    {% else %}
        $serialized->{{ object }}->{{ name }} = $this->{{ object }}->{{ name }};
    {% endif %}
{% endmacro %}

{% macro object_property_resource(object, name) %}
        $serialized->{{ object }}->{{ name }} = $this->{{ object }}->{{ name }}->serialize();
{% endmacro %}

{% macro object_property_collection(object, name) %}
        $serialized->{{ object }}->{{ name }} = $this->{{ object }}->{{ name }}->serialize();
{% endmacro %}

{% macro array_property_primitives(name, format) %}
    {% if format == 'date' %}
        $serialized->{{ name }} = array();
        ${{ name }}Count = count($this->{{ name }});
        for ($i = 0; $i < ${{ name }}Count; $i++) {
            if ($this->{{ name }}[$i] !== null) {
                $serialized->{{ name }}[$i] = $this->{{ name }}[$i]->format('{{ json_date_format }}');
            } else {
                $serialized->{{ name }}[$i] = null;
            }
        }
    {% else %}
        $serialized->{{ name }} = $this->{{ name }};
    {% endif %}
{% endmacro %}

{% macro array_property_resources(name) %}
        $serialized->{{ name }} = array();
        ${{ name }}Count = count($this->{{ name }});
        for ($i = 0; $i < ${{ name }}Count; $i++) {
            $serialized->{{ name }}[] = $this->{{ name }}[$i]->serialize();
        }
{% endmacro %}

{% macro array_property_collections(name) %}
        $serialized->{{ name }} = array();
        ${{ name }}Count = count($this->{{ name }});
        for ($i = 0; $i < ${{ name }}Count; $i++) {
            $serialized->{{ name }}[] = $this->{{ name }}[$i]->serialize();
        }
{% endmacro %}

{% macro array_property_object(name) -%}
            $serialized->{{ name }}[$i] = new \stdClass;
{%- endmacro %}

{% macro array_property_object_primitive(array, name, format) %}
    {% if format == 'date' %}
            if ($this->{{ array }}[$i]->{{ name }} !== null) {
                $serialized->{{ array }}[$i]->{{ name }} = $this->{{ array }}[$i]->{{ name }}->format('{{ json_date_format }}');
            } else {
                $serialized->{{ array }}[$i]->{{ name }} = null;
            }
    {% else %}
            $serialized->{{ array }}[$i]->{{ name }} = $this->{{ array }}[$i]->{{ name }};
    {% endif %}
{% endmacro %}

{% macro array_property_object_resource(array, name) %}
            $serialized->{{ array }}[$i]->{{ name }} = $this->{{ array }}[$i]->{{ name }}->serialize();
{% endmacro %}

{% macro array_property_object_collection(array, name) %}
            $serialized->{{ array }}[$i]->{{ name }} = $this->{{ array }}[$i]->{{ name }}->serialize();
{% endmacro %}



