{% macro resource_property(name) %}
        if (array_key_exists('{{ name }}', $this->expansions)) {

            ${{ name }}Model = \Loris\Discovery::find(
                $this->{{ name }}->uri()
            );
            $this->{{ name }} = new ${{ name }}Model->class(
                $this->{{ name }}->ids()
            );

            if (is_array($this->expansions['{{ name }}'])) {
                $this->{{ name }}->expand($this->expansions['{{ name }}']);
            }
        }
{% endmacro %}

{% macro collection_property(name) %}
        if (array_key_exists('{{ name }}', $this->expansions)) {

            ${{ name }}Model = \Loris\Discovery::find(
                $this->{{ name }}->uri()
            );
            $meta = $this->{{ name }}->meta;
            $this->{{ name }} = new ${{ name }}Model->class(
                $this->{{ name }}->ids()
            );
            $this->{{ name }}->page($meta->page);
            $this->{{ name }}->limit($meta->limit);
            $this->{{ name }}->sort(
                $meta->sort->property, 
                $meta->sort->order
            );

            if (is_array($this->expansions['{{ name }}'])) {
                $this->{{ name }}->expand($this->expansions['{{ name }}']);
            }
        }
{% endmacro %}

{% macro object_property_resource(object, name) %}
        if (array_key_exists('{{ object }}', $this->expansions) &&
            array_key_exists('{{ name }}', $this->expansions['{{ object }}'])) {

            ${{ name }}Model = \Loris\Discovery::find(
                $this->{{ object }}->{{ name }}->uri()
            );
            $this->{{ object }}->{{ name }} = new ${{ name }}Model->class(
                $this->{{ object }}->{{ name }}->ids()
            );

            if (is_array($this->expansions['{{ object }}']['{{ name }}'])) {
                $this->{{ object }}->{{ name }}->expand(
                    $this->expansions['{{ object }}']['{{ name }}']
                );
            }
        }
{% endmacro %}

{% macro object_property_collection(object, name) %}
        if (array_key_exists('{{ object }}', $this->expansions) &&
            array_key_exists('{{ name }}', $this->expansions['{{ object }}'])) {

            ${{ name }}Model = \Loris\Discovery::find(
                $this->{{ object }}->{{ name }}->uri()
            );
            $meta = $this->{{ object }}->{{ name }}->meta;
            $this->{{ object }}->{{ name }} = new ${{ name }}Model->class(
                $this->{{ object }}->{{ name }}->ids()
            );
            $this->{{ object }}->{{ name }}->page($meta->page);
            $this->{{ object }}->{{ name }}->limit($meta->limit);
            $this->{{ object }}->{{ name }}->sort(
                $meta->sort->property, 
                $meta->sort->order
            );

            if (is_array($this->expansions['{{ object }}']['{{ name }}'])) {
                $this->{{ object }}->{{ name }}->expand(
                    $this->expansions['{{ object }}']['{{ name }}']
                );
            }
        }
{% endmacro %}

{% macro array_property_resources(name) %}
        if (array_key_exists('{{ name }}', $this->expansions) &&
            count($this->{{ name }}) > 0) {

            ${{ name }}Model = \Loris\Discovery::find(
                $this->{{ name }}[0]->uri()
            );
            ${{ name }}Expanded = is_array(
                $this->expansions['{{ name }}']
            );
            ${{ name }}Count = count($this->{{ name }});
            for ($i = 0; $i < ${{ name }}Count; $i++) {
                $this->{{ name }}[$i] = new ${{ name }}Model->class(
                    $this->{{ name }}[$i]->ids()
                );

                if (${{ name }}Expanded) {
                    $this->{{ name }}[$i]->expand(
                        $this->expansions['{{ name }}']
                    );
                }
            }
        }
{% endmacro %}

{% macro array_property_collections(name) %}
        if (array_key_exists('{{ name }}', $this->expansions) &&
            count($this->{{ name }}) > 0) {

            ${{ name }}Model = \Loris\Discovery::find(
                $this->{{ name }}[0]->uri()
            );
            ${{ name }}Expanded = is_array(
                $this->expansions['{{ name }}']
            );
            ${{ name }}Count = count($this->{{ name }});
            for ($i = 0; $i < ${{ name }}Count; $i++) {
                $meta = $this->{{ name }}[$i]->meta;
                $this->{{ name }}[$i] = new ${{ name }}Model->class(
                    $this->{{ name }}[$i]->ids()
                );
                $this->{{ name }}[$i]->page($meta->page);
                $this->{{ name }}[$i]->limit($meta->limit);
                $this->{{ name }}[$i]->sort(
                    $meta->sort->property, 
                    $meta->sort->order
                );

                if (${{ name }}Expanded) {
                    $this->{{ name }}[$i]->expand(
                        $this->expansions['{{ name }}']
                    );
                }
            }
        }
{% endmacro %}

{% macro array_property_object_resource(arr, name) %}
        if (array_key_exists('{{ arr }}', $this->expansions) &&
            array_key_exists('{{ name }}', $this->expansions['{{ arr }}']) &&
            count($this->{{ arr }}) > 0) {

            ${{ name }}Model = \Loris\Discovery::find(
                $this->{{ arr }}[0]->{{ name }}->uri()
            );
            ${{ name }}Expanded = is_array(
                $this->expansions['{{ arr }}']['{{ name }}']
            );
            ${{ arr }}Count = count($this->{{ arr }});
            for ($i = 0; $i < ${{ arr }}Count; $i++) {
                $this->{{ arr }}[$i]->{{ name }}  = new ${{ name }}Model->class(
                    $this->{{ arr }}[$i]->{{ name }}->ids()
                );

                if (${{ name }}Expanded) {
                    $this->{{ arr }}[$i]->{{ name }}->expand(
                        $this->expansions['{{ arr }}']['{{ name }}']
                    );
                }
            }
        }
{% endmacro %}

{% macro array_property_object_collection(arr, name) %}
        if (array_key_exists('{{ arr }}', $this->expansions) &&
            array_key_exists('{{ name }}', $this->expansions['{{ arr }}']) &&
            count($this->{{ arr }}) > 0) {

            ${{ name }}Model = \Loris\Discovery::find(
                $this->{{ arr }}[0]->{{ name }}->uri()
            );
            ${{ name }}Expanded = is_array(
                $this->expansions['{{ arr }}']['{{ name }}']
            );
            ${{ arr }}Count = count($this->{{ arr }});
            for ($i = 0; $i < ${{ arr }}Count; $i++) {
                $meta = $this->{{ arr }}[$i]->{{ name }}->meta;
                $this->{{ arr }}[$i]->{{ name }}  = new ${{ name }}Model->class(
                    $this->{{ arr }}[$i]->{{ name }}->ids()
                );
                $this->{{ arr }}[$i]->{{ name }}->page($meta->page);
                $this->{{ arr }}[$i]->{{ name }}->limit($meta->limit);
                $this->{{ arr }}[$i]->{{ name }}->sort(
                    $meta->sort->property, 
                    $meta->sort->order
                );

                if (${{ name }}Expanded) {
                    $this->{{ arr }}[$i]->{{ name }}->expand(
                        $this->expansions['{{ arr }}']['{{ name }}']
                    );
                }
            }
        }
{% endmacro %}
